<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="bootstrap.css" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{keywords}}" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta property="og:title" content="{{ogTitle}}" />
    <meta property="og:url" content="{{ogUrl}}" />
    <meta property="og:image" content="{{ogImage}}" />
    <meta property="og:site_name" content="Giant Leap Foundation" />
    <meta property="og:description" content="{{ogDescription}}" />
    {{extraHead}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Public+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preload" href="sprites/sharp-solid.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="sprites/sharp-regular.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="sprites/sharp-light.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="sprites/sharp-thin.svg" as="image" type="image/svg+xml" />
  </head>

  <body
    data-current="{{current}}"
    data-fa-sprite-sharp-solid="sprites/sharp-solid.svg"
    data-fa-sprite-sharp-regular="sprites/sharp-regular.svg"
    data-fa-sprite-sharp-light="sprites/sharp-light.svg"
    data-fa-sprite-sharp-thin="sprites/sharp-thin.svg"
  >
