    <header class="header">
      <div class="container">
        <a href="index.html">
          <img src="img/logo-simple.png" alt="Giant Leap Foundation logo" class="logo" />
        </a>

        <nav>
          <a href="index.html" class="{{nav_home}}">Home</a>
          <span>\</span> <a href="curriculum.html" class="{{nav_curriculum}}">Curriculum</a> <span>\</span>
          <a href="content.html" class="{{nav_content}}">Content</a> <span>\</span>
          <a href="symposia.html" class="{{nav_symposia}}">Virtual Symposia</a> <span>\</span>
          <a href="about.html" class="{{nav_about}}">About</a> <span>\</span>
          <a href="help.html" class="{{nav_help}}">Help</a>
        </nav>

        <div class="header__search search-container position-relative">
          <form class="d-flex align-items-center" role="search">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 576 512"
              class="search-icon icon"
              aria-hidden="true"
            >
              <use href="sprites/sharp-solid.svg#magnifying-glass"></use>
            </svg>
            <input
              class="form-control search-input ps-5"
              type="search"
              placeholder="Search anything..."
              aria-label="Search"
            />
            <button class="btn btn-search" type="submit">Search</button>
          </form>
        </div>
      </div>
    </header>
